构思
code/preprocess/industry.csv
code/preprocess/industry10.csv
code/preprocess/unique_combinations.csv
data
output
*.gephi
*.png
*.html
*.csv
code/visualization/sankey
outcome
code/visualization/community
sbm/visualization